{% extends 'layout.html' %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}
<main id="main">
    <div class="formwrapper">
        <form id="authform" method="POST" action="{{ handler_url }}">
            {{ auth_form.csrf_token }}
            <div class="form-field">
                {{ auth_form.username }}
                {% if auth_form.username.errors or username_error_message is not none %}
                    <ul class="errors">
                        {% if username_error_message is not none %}
                            <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                        {% for error in auth_form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ auth_form.password }}
                {% if auth_form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in auth_form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ auth_form.submit }}
        </form>
    </div>
</main>
{% endblock %}